[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djzen = "*"
dj-database-url = "*"
"psycopg2" = "*"
django-cassandra-engine = "*"
gunicorn = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
